@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body
{
    background-color: hsl(218, 28%, 13%);
    color: white;
    font-family: Open Sans;


}

.container{
    width: 1190px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-color: white;
    margin: 0 0 0 0;
    width: 100%;
    padding: 2.5% 0;
}

#logo
{
    margin: 0 0 0 5px ;
}

#theme-logo{
    width: 150px;
}

#theme
{
    text-decoration: none;
    color: white;
}


#phone-nav{
    display: none;
}

.nav-links
{
    text-decoration: none;
    color: white;
    margin: 0 5px 0 5px;
    padding: 10px;
}

.nav-links:hover
{
    text-decoration: underline;
    color: white;
    margin: 0 5px 0 5px;
}


/**********MAIN*************/
main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main img
{
    width: 50%;
}

#intro
{
    
    border-color: white;
    max-width: 100%;
}

#intro h1
{
    font-size: 50px;
}

#intro p
{
    margin: 30px 10% 25px 10%;
}

#startedBtn, #submit
{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: hsl(176, 68%, 64%);
    width: 40%;
    padding: 10px;
    position: relative;
    transition: all ease-in 0.2s;
    cursor: pointer;
    border: none;

}

#startedBtn{
    box-shadow: 5px 5px 1px rgba(255, 255, 255, 0.986);
}

#submit{
    box-shadow: 2px 2px 1px rgba(255, 255, 255, 0.986);

}


.curtains::after{
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    transition:  all 0.2s ease-in;
    background-color: rgba(255, 255, 255, 0.356);
    /* border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
    cursor: pointer;
}

#startedBtn:hover .curtains::after, #submit:hover .curtains::after{
    height: 50%;
}

.curtains::before{
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0px;
    transition:  all 0.2s ease-in;
    background-color: rgba(255, 255, 255, 0.356);
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    cursor: pointer;
}

#startedBtn:hover .curtains::before, #submit:hover .curtains::before{
    height: 50%;
}


#startedBtn:hover, #submit:hover
{
    transform: scale(1.01);
    color: black;
    /* border-radius: 20px; */
}

#startedBtn:active, #submitBtn:active{
    box-shadow: unset;
}
/******************************BOXES******************************/

#boxSec
{
    margin: 10% 0 0 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "one two"
    "three four";
   
}

.one
{
    grid-area: one;
}

.two
{
    grid-area: two;
}

.three
{
    grid-area: three;
}

.four
{
    grid-area: four;
}

.boxes
{
    text-align: center;
    
    margin: 5% 15% 5% 15%;
}

.boxes img
{
    height: 100px;
}
/**********************section*********************/
#productive
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10% 0 0 0;
    gap: 20px;
}

#productiveImg img
{
    width: 100%;

}



#productive-intro
{
    max-width: 100%;
}

#productive-intro h1
{
    font-size: 50px;
}

#productive-intro p
{
    margin: 10px 0 10px 0;
}

#productive-a
{
    display: inline-block;
    width: 40%;
    color: hsl(176, 68%, 64%);
}
/***************************************************/

#reviews
{
    margin: 10% 0 0 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 0 20px;
}

.quoteContainer
{
    position: relative;
}

#quote1
{
    position: absolute;
    left:-40px;
    top:-10px;
}

#quote2
{
    position: absolute;
    right:-40px;
    bottom:-10px;
    transform: rotateY(180deg);
}

.reviewBox
{
    
    width: 30%;
    background-color: hsl(219, 30%, 18%);
    box-shadow: white;
    padding: 10px;
    cursor: context-menu;
    transition: all ease-in 0.2s;

}

.reviewBox:hover
{
    color: black;
    background-color: white;
    transform: scale(1.05);
}

#reviews img
{
    width:40px;
    border-radius: 50%;
}

.review-img
{
    display: inline-block;
}

#form-container
{
    display: flex;
    justify-content: center;
}

form
{
    text-align: center;
    padding: 30px;
    background-color: hsl(216, 53%, 9%);
    margin: 10% 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h1
{
    font-size: 50px;
}

form p
{
    margin: 10px 0 20px 0;
}

#email
{
    padding: 10px;
    width: 500px;
    max-width: 100%;
    transition: all ease-in 0.2s;
    outline: none;
}

#submit
{
    margin: 30px 0 0 0;
    width: unset;
}



/*****************FORM*************************/
footer
{   
    background-color: hsl(216, 53%, 9%);
    margin: 0 0 0 0;
    display: flex;
    justify-content: space-evenly;   
}

.footer-links
{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10% 0 0 0;
}

.footer-links a
{
    margin: 10px 0 10px 0;
    color: white;
    text-decoration: none;
}

.footer-links a:hover
{
    text-decoration: underline;
}



/**************MEDIA********************/
@media (max-width:1100px)
{

    main img
    {
        width: 50%;
    }
    
    #intro
    {
        width: 100%;
        margin: 10px 0 0 0;
    }

    #intro h1
    {
        font-size: 30px;
    }

/*******************BOX SECTION******************/

    #boxSec
    {
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        "one"
        "two"
        "three"
        "four";
    }
/***************PRODUCTIVE**********************/

    #productive
    {
        flex-direction: column;
    }

    #productiveImg img
    {
        width:100%
    }

    #productive-intro
    {
        width:100%;
        text-align: center;
    }

    #productive-intro h1
    {
        font-size: 30px;
    }

    #productive-a
    {
        width: 100%;
    }


/***************REVIEW BOXES**********************/
    #reviews
    {
        flex-direction: column;
        justify-content: unset;
        align-items: center;
    }

    .reviewBox
    {
        width: 80%;
        margin: 15px 0 15px 0;
        padding: 20px;
    }

    .reviewBox p
    {
        margin: 10px 0 10px 0;
    }

    .review-img p
    {
        margin: 0 0 0 0;
    }





/***********************FOOTER*************************/
    footer
    {
        flex-direction: column;
        align-items: center;
        margin: 0 0 0 0;
    }

    .footer-links
    {
         align-items: center;
         width: 100%;
         margin: 10px 0 0 0;
    }



    form 
    {
        background-color: hsl(216, 53%, 9%);
    }

    form h1
    {
        font-size: 30px;        
    }

    #email
    {
        width: 80%;
    }

    #submit
    {
        padding: 5px;
        margin:  10px 0 0 0;
    }

    


}

@media (max-width:1100px)


{

    header, main, #boxSection, #productive, #reviews{
        padding: 2.5% 20px;
    }

    #startedBtn:hover .curtains::before, #submit:hover .curtains::before{
        height: 0px;
    }

    #startedBtn:hover .curtains::after, #submit:hover .curtains::after{
        height: 0px;
    }

    #startedBtn:hover, #submit:hover{
        transform: unset;
        color: white;
        /* border-radius: 20px; */
    }


    /* header
    {
        height: 10vh;        
    } */



    #nav{
        display: none;
    }

    #phone-nav
    {
        /* display:none; */
        position: fixed;
        top: 66px;
        height: 100%;
        right: 0;
        top: 0;
        width: 0%;
        display: none;
        background-color: hsl(218, 28%, 13%);
        transition: all ease-in 0.1s;
        z-index: 5;
    }

    #phone-nav ul
    {
        display: flex;
        flex-direction: column;
        margin: 10vh 0 0 0;

    }

    #phone-nav ul a
    {
        width: 100%;
        padding: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* #phone-nav ul a:nth-child(odd){
        border-top: 1px solid;
        border-bottom: 1px solid;
    } */

    #phone-nav .nav-links:hover
    {
        text-decoration: none;
    }
    
    #phone-nav .nav-links:active{
        color: black;
        background-color: white;
    }

    .menu-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        z-index: 7;
        /* border: 3px solid #fff; */
      }
      .menu-btn__burger {
        width: 25px;
        height: 3px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);
        transition: all 0.2s ease-in-out;
      }
      .menu-btn__burger::before,
      .menu-btn__burger::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 3px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);
        transition: all 0.2s ease-in-out;
      }
      .menu-btn__burger::before {
        transform: translateY(-8px);
      }
      .menu-btn__burger::after {
        transform: translateY(8px);
      }
      /* ANIMATION */
      .menu-btn.open .menu-btn__burger {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
      }
      .menu-btn.open .menu-btn__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
      }
      .menu-btn.open .menu-btn__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
      }
    

    .reviewBox:hover
    {
        color: unset;
        background-color: hsl(219, 30%, 18%);
        transform: unset;
    }

    .footer-links a:hover
    {
        text-decoration: none;
    }

    .footer-links a:active{
        text-decoration: underline;
    }
}
